.header__button {
  background-color: transparent;
  color: #f7941e;
  height: 2.719rem;
  width: 9.375rem;
  font-size: 1.125rem;
  text-transform: uppercase;
  border: 1px solid #f7941e;
  border-radius: 0.3125rem;
  padding: 0;
  cursor: pointer;
  transition: all 0.35s linear;
}

.header__button:hover {
  background-color: #f7941e;
  color: #fff;
}
