.posts-tall__subtitle {
  font-size: 1.125rem;
  line-height: 135.9%;
  text-align: center;
  margin: 0 0 4rem;
}

@media screen and (max-width: 767px) {
  .posts-tall__subtitle {
    font-size: 1rem;
    margin: 0 1rem 2rem;
  }
}
