.blog-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 3rem 3rem 3.125rem;
}

.blog-card:hover {
  box-shadow: 0 0.25rem 0.25rem rgb(0, 0, 0, 0.25);
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .blog-card {
    padding: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .blog-card {
    padding: 1.5rem 1rem;
  }
}
